.payment label {
    font-weight: 600;
    color: #57001C;
}

.payment button {
    padding: 8px 15px;
    border-radius: 5px;
    background: #57001C;
    color: #fff;
    border: none;
    outline: none;
}